.event {
}

.event-details {
    border: 25px solid #ddd;
    color: #ddd;
    height: 330px;
    margin-bottom: 25px;
    position: relative;
}

.scheduled .event-details{
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.scheduled .event-details:hover {
    border-color: #ed9c28;
}

.event-time, .event-misc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.event-month {
    font-size: 300%;
    padding-bottom: 20px;
    border-bottom: 25px solid #ddd;
}

.scheduled .event-month {
    border-bottom: 25px solid #f0ad4e;
}

.scheduled .event-details:hover .event-month {
    border-bottom: 25px solid #ed9c28;
}

.event-date {
    font-size: 900%;
    font-weight: bold;
}

.event-misc {
    background-color: #ddd;
    color: #fff;
    display: none;
}

.scheduled .event-misc {
    background-color: #f0ad4e;
}

.event-misc p {
    font-size: 125%;
}

.event-details:hover .event-misc {
    display: block;
}
